[mysqld]
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid

character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
lower_case_table_names=1
# FIXME: after #8511, remove this line to use the stricter default sql_mode
sql_mode=NO_ENGINE_SUBSTITUTION
bind-address = 0.0.0.0
[client]
default-character-set=utf8mb4